@{ 
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=deviece-width"/>
    <title>Index</title>
</head>
<body>
    <div>
        <a asp-action="List">danh sach sinh vien dang ky</a><br/>
        <a asp-action="DangKy">dang ky hoc phan</a><br />
        <a asp-action="MyView">home</a><br />
        <h2>danh sach hoc phan</h2>
        <table>
            <thead>
                <tr>
                    <th>ma hoc phan</th>
                    <th>ten hoc phan</th>
                    <th>so tin chi</th>
                    <th>giang vien</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1233123</td>
                    <td>toan cao cap</td>
                    <td>5</td>
                    <td>ho truong</td>
                </tr>
                <tr>
                    <td>1233123</td>
                    <td>toan chuyen nganh</td>
                    <td>3</td>
                    <td>ho truong ww</td>
                </tr>
                <tr>
                    <td>1233123</td>
                    <td>java</td>
                    <td>3</td>
                    <td>co nuong</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>